<?xml version='1.0' encoding='utf-8'?>
<widget id="com.chatbot.hanyang" version="1.1.3" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>하냥봇</name>
    <description>
        한양대학교 ERICA 캠퍼스 챗봇 도우미
    </description>
    <author email="taeuk_kang@naver.com" href="https://taeuk-gang.github.io/">
        TAEUK.KANG
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/img/icon.png" />
    <platform name="android">
        <splash src="www/img/splash.9.png" />
        <allow-intent href="market:*" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>        
    </platform>
    <platform name="ios">
        <splash src="www/img/splash.png" />
        <icon src="www/img/icon-20.png" width="20" height="20" />
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="www/img/icon-180.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="www/img/icon-60.png" width="60" height="60" />
        <icon src="www/img/icon-120.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="www/img/icon-76.png" width="76" height="76" />
        <icon src="www/img/icon-152.png" width="152" height="152" />
        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="www/img/icon-40.png" width="40" height="40" />
        <icon src="www/img/icon-80.png" width="80" height="80" />
        <icon src="www/img/icon-87.png" width="87" height="87" />
        <!-- iPhone / iPod Touch -->
        <icon src="www/img/icon-57.png" width="57" height="57" />
        <icon src="www/img/icon-114.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="www/img/icon-72.png" width="72" height="72" />
        <icon src="www/img/icon-144.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="www/img/icon-29.png" width="29" height="29" />
        <icon src="www/img/icon-58.png" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="www/img/icon-50.png" width="50" height="50" />
        <icon src="www/img/icon-100.png" width="100" height="100" />
        <icon src="www/img/icon-167.png" width="167" height="167" />
        <icon src="www/img/icon-1024.png" width="1024" height="1024" />

        <!-- images are determined by width and height. The following are supported -->
        <splash src="www/img/LaunchImage~iphone-320x480.png" width="320" height="480"/>
        <splash src="www/img/LaunchImage~iphone_640x960.png" width="640" height="960"/>
        <splash src="www/img/LaunchImage-Portrait~ipad_768x1024.png" width="768" height="1024"/>
        <splash src="www/img/LaunchImage-Portrait@2x~ipad_1536x2048.png" width="1536" height="2048"/>
        <splash src="www/img/LaunchImage-Landscape~ipad_1024x768.png" width="1024" height="768"/>
        <splash src="www/img/LaunchImage-1125@3x~iphoneX-portrait_1125x2436.png" width="1125" height="2436"/>
        <splash src="www/img/LaunchImage-2436@3x~iphoneX-landscape_2436x1125.png" width="2436" height="1125"/>
        <splash src="www/img/LaunchImage-Landscape@2x~ipad_2048x1536.png" width="2048" height="1536"/>
        <splash src="www/img/LaunchImage-568h@2x~iphone_640x1136.png" width="640" height="1136"/>
        <splash src="www/img/LaunchImage-750@2x~iphone6-portrait_750x1334.png" width="750" height="1334"/>
        <splash src="www/img/LaunchImage-1242@3x~iphone6s-portrait_1242x2208.png" width="1242" height="2208"/>
        <splash src="www/img/LaunchImage-1242@3x~iphone6s-landscape_2208x1242.png" width="2208" height="1242"/>
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="ErrorUrl" value="www/404.html" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="UIWebViewBounce" value="false" />

    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="KeyboardShrinksView" value="true" />

    <plugin name="cordova-plugin-ionic-webview" spec="^2.2.0">
        <variable name="ANDROID_SUPPORT_ANNOTATIONS_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-ionic-keyboard" spec="2.1.3" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
